/* General */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Josh Comeau's custom reset  
https://www.joshwcomeau.com/css/custom-css-reset/*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", sans-serif;
  background-color: #343a40;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Containers */
.container-wrapper {
  margin: 0.5em;
}

.container,
.header-icons-wrapper {
  max-width: 500px;
  padding: 0.2em 1.2em 1.2em 1.2em;
  margin: 2em auto;
  background-color: #f7f8fc;
  border-radius: 10px;
}

/* Header */
.header-icons-wrapper {
  border: none;
}

.header-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.2em;
}

.icon-profile,
.chat-bubble {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.logo {
  width: 25%;
  cursor: pointer;
}

/* Dog container */

.dog-profile-container {
  transition: opacity 0.5s;
}

.dog-card {
  position: relative;
  transition: opacity 6s;
}

.dog-img {
  border-radius: 10px;
}

.dog-info {
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: #fff;
}

h1 {
  font-size: 1.8rem;
  margin: 0;
}

.bio {
  font-size: 1.3rem;
}

/* Swipe buttons */
.swipe-icons-container {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.like-btn,
.nope-btn {
  cursor: pointer;
  padding: 2em;
  background-color: #fff;
  box-shadow: 0px 10px 10px #e9e9ea;
  border-radius: 50%;
  border: none;
  transition: background-color 0.2s ease;
}

.nope-btn:hover,
.nope-btn:focus {
  background-color: #ffe7ef;
}

.like-btn:hover,
.like-btn:focus {
  background-color: #dbfff4;
}

/* Badges */

.nope-badge,
.like-badge {
  display: none;
  width: 35%;
  position: absolute;
  left: 30px;
  top: 60px;
  transform: rotate(-35deg);
  z-index: 1;
}

.end-page {
  background-size: cover;
  text-align: center;
}
